.ui-state-default .MSC            { color: #ff4040; }
.ui-state-active  .MSC            { color: #ff0000; }
.ui-state-default .BSC            { color: #40a0ff; }
.ui-state-active  .BSC            { color: #0000ff; }
.ui-state-default .RESEARCH       { color: #40ff40; }
.ui-state-active  .RESEARCH       { color: #408040; }
.ui-state-default .CS_ART         { color: #ff4040; }
.ui-state-active  .CS_ART         { color: #ff0000; }
.ui-state-default .CS_CONF        { color: #40a0ff; }
.ui-state-active  .CS_CONF        { color: #0000ff; }
.ui-state-default .PPE_ART        { color: #ffa000; }
.ui-state-active  .PPE_ART        { color: #804000; }
.ui-state-default .PPE_CONF       { color: #00ffff; }
.ui-state-active  .PPE_CONF       { color: #008080; }
.ui-state-default .OTHER_1        { color: #ff00ff; }
.ui-state-active  .OTHER_1        { color: #800080; }

div > ul        { margin-top: -0.5em; margin-bottom: -0.5em; text-align: justify; }
div > ol        { margin-top: 0em; margin-bottom: 0em; margin-left: -2.0em; }
li              { line-height: 1.75em; }
ol > ul > li    { margin-left: -2.5em; }
hr              { width: 80%; }

.group > ol > li > div   { margin-left: 5%; }

.publikacja  { font-weight: bold; }
.czasopismo  { font-variant: small-caps; font-size: 105%; }
.ksiazka     { font-variant: small-caps; font-size: 105%; }

.inne_group  { display: table-row; border: 2px solid; }
.inne_text   { display: table-cell; width: 50%; vertical-align: middle; font-family: MaszynaRoyalDarkFont; font-size: 140%; }
.inne_img    { display: table-cell; width: 50%; vertical-align: middle; padding: 10px; }

.odleglosc > p  { margin:2px 0 2px; text-indent: 5px; }

@media only screen and (min-width: 360px) and (max-width: 719px) {
  #frame              { width: 92%; margin: 0 auto; }
  div#main ul#menu    { width: 90%; font-size: 18px; }
}

@media only screen and (min-width: 720px) {
  #frame              { width: 700px; margin: 0 auto; }
}

@font-face {
  font-family: "MaszynaRoyalLightFont";
  src: url('../fonts/Maszyna_Royal_Light.ttf') format('truetype'), url('../fonts/Maszyna_Royal_Light.eot?#iefix') format('embedded-opentype');
}

@font-face {
  font-family: "MaszynaRoyalDarkFont";
  src: url('../fonts/Maszyna_Royal_Dark.ttf') format('truetype'), url('../fonts/Maszyna_Royal_Dark.eot') format('embedded-opentype');
}

@font-face {
  font-family: "TheWall";
  src: url('../fonts/The_Wall.ttf') format('truetype'), url('../fonts/The_Wall.eot') format('embedded-opentype');
}

#id       { top: -10px; }

.ui-widget * { outline: none; }

.ui-tabs { padding: 0; }
.ui-tabs > .ui-tabs-nav > li { padding: 0 5px; }
